/* App.css */

/* Import font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Mengatur font utama untuk aplikasi */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f3f4f6; /* Latar belakang abu-abu muda */
  color: #333; /* Warna teks utama */
}

.App {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.App main {
  flex-grow: 1;
}